@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans-noto: "Noto Sans", sans-serif;
  --font-sans-yantra: "Yantramanav", sans-serif;
  --font-mono-noto: "Noto Sans Mono", monospace;
  --vanta-brightness: 0.8;
  --vanta-grayscale: 0.328;
  --vanta-blur: 0px;
}

html {
  overflow-x: hidden;
  min-height: 100vh;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#output {
  font-family: var(--font-mono-noto);
}

#feed > * {
  @apply grid text-xs;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

#feed > * > * {
  @apply text-slate-400;
}

.keypads {
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.btn-plus {
  grid-row: span 2;
}

button {
  background-color: rgba(51, 58, 87, 1);
  @apply m-2 rounded;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: hsla(240, 100%, 50%, 0.0328); */
}

body {
  font-family: var(--font-sans-noto);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: auto 1fr auto;
  width: min(100% - 2rem, 80vw);
  margin-inline: auto;
  min-height: 100vh;
  color: white;
  background-color: #e8e7ec;
  backdrop-filter: blur(3.28px);
}

p {
  font-family: var(--font-sans-noto);
}

h1,
h2,
h3 {
  font-family: var(--font-sans-yantra);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
/* Demonstrate a "mostly customized" scrollbar * (won't be visible otherwise if width/height is specified) */
body::-webkit-scrollbar {
  width: 1.25rem;
}

body::-webkit-scrollbar-track {
  background: hsl(223, 42%, 16%);
}

/* Add a thumb */
body::-webkit-scrollbar-thumb {
  background-color: hsla(228, 26%, 27%, 0.618);
}

.logo {
  font-family: var(--font-sans-yantra);
}

.vanta-canvas {
  height: 100% !important;
  object-fit: cover;
  width: 100vw;
  overflow: hidden;
  filter: blur(var(--vanta-blur)) brightness(var(--vanta-brightness))
    grayscale(var(--vanta-grayscale));
}

header {
  grid-area: header;
  background: hsl(223, 42%, 16%);
}

main {
  grid-area: main;
  background: rgb(24, 34, 59);
  background: linear-gradient(
    344deg,
    rgba(24, 34, 59, 1) 31%,
    #333a57 66%,
    /* rgba(98, 103, 130, 1) 200% */
  );
  /* grid-column: 4 / 10; */
  /* grid-row: 2 / 12; */
  /* outline: 1px solid hsla(266, 100%, 51%, 0.328); */
}

footer {
  grid-area: footer;
  background: hsl(223, 42%, 16%);
  background: linear-gradient(
    180deg,
    hsl(223, 42%, 16%) 0%,
    hsl(223, 42%, 16%) 102%
  );
}
